<!DOCTYPE html>
<html>
<head>
	<title>report</title>
</head>
<body>
	<h1 align="center" style="margin-top: 50px;color: green">This is the following Reports</h1>
	<table border="1" width="500" align="center" style="padding: 4px; margin-top: 20px">

		<tr align="center" style="background-color: lightblue;">
			<td  style="padding: 10px;">Sno</td>
			<td  style="padding: 10px;">Date & Time</td>
			<td  style="padding: 10px;">Temperature</td>
			<td  style="padding: 10px;">Humidity</td>
		</tr>
		<tr>
			<td style="padding: 10px;text-align: center">1.</td>
			<td style="padding: 10px;text-align: center;">{{date}} , {{time}}</td>
			
			<td style="padding: 10px;text-align: center;">{% if obj1 %}
				{% for k in obj1 %}
				{{ k.temperature }},
				{% endfor %}
				{% endif %}
			</td>
			<td style="padding: 10px;text-align: center;">{% if obj1 %}
				{% for k in obj1 %}
				{{ k.humidity }},
				{% endfor %}
				{% endif %}
			</td>
		</tr>
	</table
</body>
</html>